<%= link_to "Projects", "/", class: "text-2xl font-bold mt-4 block uppercase pl-6 text-slate-700" %>

<nav class="bg-white border-gray-200">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">

    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
    </button>

    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white">
        <li>
          <%= link_to 'Dashboard', dashboard_index_path,
            class: nav_classes('dashboard')
          %>
        </li>
        <li>
          <%= link_to "Projects", projects_path,
            class: nav_classes('projects')
          %>
        </li>
        <li>
          <div data-controller='select-user' class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0"">
            <%= label(:user, :name, 'Select User', class: 'w-full mb-2 text-gray-900') %>
            <%= select(:user, :name, User.all.collect {|p| [ p.name, p.id ] }, { prompt: 'select user', selected: session[:user_id] },
              class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
                focus:border-blue-500 block w-full p-2.5',
              data: { action: 'select-user#change' }
              )
            %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
